* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dinn';
    src: url('./fonts/DINNextLTPro-Light.ttf');
}

@font-face {
    font-family: 'DinnBold';
    src: url('./fonts/DINNextLTPro-Black.ttf');
}

/* PARTIE FIXE */

.dune {
    position: fixed;
    margin: 1rem;
    width: 25vw;
    z-index: 2;
}

body {
    background-color: lightsalmon;
}

.logo>div>a>svg {
    width: 2.3rem;
    height: 2.3rem;
    margin: 1rem 0.5rem;
    color: white;
}

.logo>div {
    display: flex;
    flex-direction: column;

}

.logo {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    right: 2vw;
    z-index: 3;
}

.logo>.espaceur {
    height: 10rem;
}

/* BACKGROUND */

section {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

html {
    scroll-snap-type: y proximity;
}

/* Les enfants du conteneur sont les éléments sur lesquels le navigateur "s'aligne" */
section {
    scroll-snap-align: start;
}

/* sections */
section {
    height: 100vh;
    object-fit: cover;
}

section>img:first-of-type {
    height: 100vh;
    object-fit: cover;
}

h2 {
    width: auto;
    font-family: 'Dinn';
    color: white;
    font-size: 1.8rem;
}

/* ACCUEIL */

.accueil {
    background-image: url('./medias/images/dune-timothee-chalamet.jpg');
}

.accueil>h2 {
    position: absolute;
    top: 30vh;
    left: 19vw;
}

/* video */

#video {
    width: 40vw;
    height: calc(40vw * 390 / 640);
    display: block;
    position: absolute;
    top: 38vh;
    right: 45vw;
    z-index: 10;
}

.scroll {
    position: fixed !important;
    width: 30vw !important;
    height: calc(20vw * 3 / 4) !important;
    top: 5vh !important;
    right: 5% !important;
    z-index: 2 !important;
}

/* fin video */

/* A PROPOS */

.about {
    background-image: url('./medias/images/Dune06.webp');
}

.about>img:nth-of-type(1) {
    height: auto;
    width: 40vw;
    position: relative;
    top: 13vh;
    left: 50vw;
    z-index: 1;
}

.about>.text>p {
    color: white;
    font-size: small;
    font-family: 'Dinn';
}

.about>.text {
    column-count: 3;
    column-gap: 4vw;
    background-color: rgb(166 166 166 / 75%);
    padding: 3rem 4rem 2rem 3rem;
    position: relative;
    top: 0vh;
}

.about>h2 {
    width: 80vw;
    position: relative;
    top: -1vh;
    left: 5vw;
}

/* ACTEURS */

.acteurs {
    background-image: url('./medias/images/dune-cast-scaled.jpeg');
    position: relative;
}

.acteurs>.bande {
    background-color: rgb(166 166 166 / 75%);
    height: 12vw;
    position: relative;
    top: 63vh;
}

.acteurs>h2 {
    position: absolute;
    top: 53vh;
    left: 10vw;
}

.acteurs>.carrActeurs>div {
    width: 50vw;
    height: 50vh;
    margin: auto;
    position: relative;
    top: 0vh;
    left: 15vw;
}

.carrActeurs>div>.fleche {
    position: absolute;
    top: 7rem;
    z-index: 2;
}

.carrActeurs>div>.prec {
    left: -4vw;
}

.carrActeurs>div>.suiv {
    left: 52vw;
}

.carrActeurs>div:first-of-type>img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carrActeurs>div>img:not(:first-of-type) {
    display: none;
}

.carrActeurs>div>h3 {
    font-size: 40px;
    color: white;
}

.carrActeurs>div>h3:hover {
    cursor: pointer;
}

.acteurs>.bande>.nom {
    color: white;
    z-index: 1;
    position: absolute;
    left: 4vw;
    top: 10vh;
}


/* GALERIE */

.galerie {
    background-image: url('./medias/images/dune-production_01.jpg');
    position: relative;
}

.galerie>.bande {
    background-color: rgb(166 166 166 / 75%);
    height: 70vh;
    position: relative;
    top: 20vh;
}

.galerie>h2 {
    position: absolute;
    top: 13vh;
    left: 65vw;
}


.galerie>.carrImg>div {
    width: 80vw;
    height: 60vh;
    margin: auto;
    position: relative;
    top: -45vh;
    left: 0vw;
}

.carrImg>div>.fleche {
    position: absolute;
    top: 9rem;
    z-index: 2;
}

.carrImg>div>.prec {
    left: -4vw;
}

.carrImg>div>.suiv {
    left: 82vw;
}

.carrImg>div:first-of-type>img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carrImg>div>img:not(:first-of-type) {
    display: none;
}

.carrImg>div>h3 {
    font-size: 40px;
    color: white;
}

.carrImg>div>h3:hover {
    cursor: pointer;
}

/* CINEMA */

.cinema {
    background-image: url('./medias/images/dune-timothee-chalamet-rebecca-ferguson.jpeg');
    position: relative;
}

.cinema>h2 {
    position: absolute;
    top: 60vh;
    left: 4vw;
}

#map {
    height: 60vh;
    width: 55vw;
    top: 25vh;
    left: 35vw;
    z-index: 1;
}

.cinema>.bande {
    background-color: rgb(166 166 166 / 75%);
    height: 25vh;
    position: relative;
    top: 8vh;
}

.geoBtn {
    position: absolute;
    top: 77vh;
    left: 10vw;
    font-family: 'Dinn';
    font-weight: bold;
    z-index: 2;
    color: white;
    background-color: black;
    padding: 10px 30px;
    border: none;
    border-radius: 0.3em;
    transition: all 0.2s;
}

.geoBtn:hover{
    background-color: rgb(227, 124, 35);
    cursor: pointer;
}

/* CASTING */

.casting {
    background-image: url('./medias/poster/dune_poster_vierge.png');
}

.castingContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 75vh;
    position: relative;
    top: 16vh;
}

.grilleActeurs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 100%;
}

.carteActeur{
    position: relative;
    width: 8vw;
    height: 12vw;
}

.carteActeur>img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 5%;
}

.nomActeur{
    position: absolute;
    white-space: normal;
    width: 90%;
    bottom: 1%;
    left: 5%;
    z-index: 2;
    font-family: 'Dinn';
    color: white;
    font-size: smaller;
    transition: 0.5s;
    padding : 2px;
    border-radius: 5px;
}

.carteActeur:hover .nomActeur{
    background-color: rgb(100,100,100,0.75);
}